






/*	
	Side Navigation Menu V2, RWD
	===================
	License:
	http://goo.gl/EaUPrt
	===================
	Author: @PableraShow

 */

@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  line-height: 1.42em;
  color:#A7A1AE;
  background-color:#1F2739;
}

h1 {
  font-size:3em; 
  font-weight: 300;
  line-height:1em;
  text-align: center;
  color: #4DC3FA;
  margin-top: 30px;
  margin-bottom: 30px;
}

h2 {
  font-size:1em; 
  font-weight: 300;
  text-align: center;
  display: block;
  line-height:1em;
  padding-bottom: 2em;
  color: #FB667A;
}

h2 a {
  font-weight: 700;
  text-transform: uppercase;
  color: #FB667A;
  text-decoration: none;
}

.navbar {
	border-style: none;
	padding: 0;
	margin: 0;
	border-radius: 0;
	background-color: #1F2739;
}

#homeLogo {
	color: #FB667A;
}

#scorerListLink {
	color: #FFF842;
}

/*.blue { color: #185875; }*/
.yellow { color: #FFF842; }

.container th h1 {
	font-weight: bold;
	font-size: 1em;
	text-align: left;
	color: #185875;
}

.container td {
	font-weight: normal;
	font-size: 1.2em;
}

.container {
	text-align: left;
	overflow: hidden;
	width: 80%;
	margin: 0 auto 60px auto;
	display: table;
	padding: 0 0 8em 0;
}

.container td, .container th {
	padding-bottom: 2%;
	padding-top: 2%;
	padding-left:2%;
}

/* Background-color of the odd rows */
.container tr:nth-child(odd) {
	background-color: #323C50;
}

/* Background-color of the even rows */
.container tr:nth-child(even) {
	background-color: #2C3446;
}

.container th {
	background-color: #1F2739;
}

.container td:nth-child(2) { 
	color: #FB667A;
}

.container tr:hover {
	background-color: #464A52;
}

.container td:hover {
	background-color: #FFF842;
	color: #403E10;
}

/*@media (max-width: 800px) {
.container td:nth-child(4),
.container th:nth-child(4) { display: none; }
}*/

.container colgroup col:hover {
	background-color: #464A52;
}

@media (max-width: 767px) {
	table th, table td {
		border-left: 1px solid black;
		border-right: 1px solid black;
	}
}